<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Borrar Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <%- include("./partials/header") %>

    <h1 class="title-delete-movie">Película a Borrar:  <%= movie.title %></h1>
    <br>
    <section class="form-delete">
        <form action="/movies/destroy/<%= movie.id %>?_method=DELETE" method="POST">
            <p><button class="button-delete-movie" type="submit">BORRAR</button>
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
</body>
</html>