<nav style="margin-left: 80px;">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/movies/new">New Movies</a></li>
    <li><a href="/movies/recommended">New Recommended</a></li>
    <li><a href="/genres">Genres</a></li>
    <li><a href="/actors">Actors</a></li>
    <li><a href="/movies/add">Crear película</a></li>
  </ul>
</nav>